body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333; /* Dark gray background */
    color: #ccc; /* Light gray text */
}

h1 {
    font-size: 60px; /* Adjust the font size as needed */
    margin-top: 40px; /* Add some top margin for spacing */
    color: #fff; /* White text color */
}

h2 {
    font-size: 30px; /* Adjust the font size as needed */
    /*margin-top: 40px;  Add some top margin for spacing */
    color: #fff; /* White text color */
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #444; /* Darker border */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    background-color: #222; /* Slightly darker background */
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #444; /* Darker border */
    border-radius: 3px;
    background-color: #111; /* Even darker background */
    color: #ccc; /* Light gray text */
}

input.save_back_submit {
    margin: 10px;
    padding: 15px 30px; /* Adjust padding to make the button larger */
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input.edit-button {
    font-family: Arial, sans-serif;
    color: black;
    height: 25px;
    width: 25px;
}

input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #444; /* Darker border */
    border-radius: 3px;
    background-color: #111; /* Even darker background */
    color: #ccc; /* Light gray text */
}

select {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #444; /* Darker border */
    border-radius: 3px;
    background-color: #111; /* Even darker background */
    color: #ccc; /* Light gray text */
}

.big-button {
    display: block;
    width: 100%;
    padding: 20px; /* Adjust the padding as needed */
    margin: 10px 0; /* Add some vertical margin for spacing */
    background-color: #007BFF; /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 24px; /* Adjust the font size as needed */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.big-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Add styles for the status message */
#status-message {
    text-align: center;
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text */
    padding: 10px;
    margin-top: 10px; /* Add margin to separate from the buttons */
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content input {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: none;
    width: 90%;
}

    .dropdown-content input:hover {
        background-color: #007BFF; /*#ddd;*/
    }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

table {
    color: black;
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    border: 1px solid #e0e0e0;
    padding: 12px;
    text-align: center;
    min-width: 150px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f5f5f5;
}

tr:hover {
    background-color: #e0e0e0;
}