body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333; /* Dark gray background */
    color: #ccc; /* Light gray text */
}

h1 {
    font-size: 60px; /* Adjust the font size as needed */
    margin-top: 40px; /* Add some top margin for spacing */
    color: #fff; /* White text color */
}

form {
    margin: 20px;
    padding: 20px;
    border: 1px solid #444; /* Darker border */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    background-color: #222; /* Slightly darker background */
}

input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #444; /* Darker border */
    border-radius: 3px;
    background-color: #111; /* Even darker background */
    color: #ccc; /* Light gray text */
}

input[type="submit"] {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF; /* Keep the original blue color for contrast */
    color: #fff; /* White text for the button */
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #444; /* Darker border */
    border-radius: 3px;
    background-color: #111; /* Even darker background */
    color: #ccc; /* Light gray text */
}

.big-button {
    display: block;
    width: 90%;
    padding: 20px; /* Adjust the padding as needed */
    margin: 10px 0; /* Add some vertical margin for spacing */
    background-color: #007BFF; /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 5px; /* Rounded corners */
    cursor: pointer;
    font-size: 24px; /* Adjust the font size as needed */
    transition: background-color 0.3s ease; /* Smooth hover effect */
}

.big-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

/* Add styles for the status message */
#status-message {
    text-align: center;
    background-color: #333; /* Dark gray background */
    color: #fff; /* White text */
    padding: 10px;
    margin-top: 10px; /* Add margin to separate from the buttons */
}